* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: linear-gradient(0deg, #AAE3E2 0%, #FDEBED 63%);
}

.reset-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

.start-button {
  background: radial-gradient(circle, #B9F3FC 0%, #00425A 100%);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

header {
  padding: 40px;
  text-align: center;
  background: #D9ACF5;
  color: #fff;
  border-bottom: 30px #879274;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  background-color: white;
  border-radius: 8px;
}

.question-container {
  display: flex;
  align-items: flex-end;
}

.button2 {
  justify-content: center;
  background: radial-gradient(circle, rgba(240, 230, 140, 1) 0%, rgba(187, 96, 33, 0.9542191876750701) 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: medium;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 150px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

.questions {
  width: 30vw;
  height: 250px;
}

button {
  justify-content: center;
  background: radial-gradient(circle, rgba(240, 230, 140, 1) 0%, rgba(187, 96, 33, 0.9542191876750701) 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: medium;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 150px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 200px;
  border: solid 1px black;
  margin: 1%;
}

h3 {
  text-align: center;
  width: 100%;
}

.time-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  background-color: white;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  text-align: center;
  background-color: white;
  width: 98%;
  height: 200px;
  border: solid 1px black;
  font-size: 300%;
  border: 1%;

}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20px;
  }

  .timerMessage {
    height: 200px;
  }
}